Repository kubeflow/pipelines, pull requests merged in 2020-05, with the labels that each got.

#3671 Add an operator to configure toleration of the GKE GPU node taints
  sdk/python/kfp/gcp.py
Labels: approved, lgtm, ok-to-test, size/S

#3666 Properly handle LRO error case
  components/gcp/container/component_sdk/python/kfp_component/google/common/_utils.py
Labels: approved, area/components, lgtm, size/S

#3668 [AWS SageMaker] Add CodeBuild Steps
  components/aws/sagemaker/codebuild/deploy.buildspec.yml
  components/aws/sagemaker/codebuild/integration-test.buildspec.yml
  components/aws/sagemaker/codebuild/scripts/deploy.sh
  components/aws/sagemaker/codebuild/unit-test.buildspec.yml
Labels: approved, lgtm, needs-ok-to-test, size/L

#3682 gpu example: wording cleanup
  samples/tutorials/gpu/README.md
  samples/tutorials/gpu/gpu.ipynb
Labels: approved, lgtm, size/M

#3508 Katib Launcher Experiment Name Conflict
  components/kubeflow/katib-launcher/src/launch_experiment.py
Labels: approved, lgtm, needs-ok-to-test, size/XS

#3679 SDK - Components - Fixed bug in _strip_type_hints_using_lib2to3
  sdk/python/kfp/components/_python_op.py
Labels: approved, area/sdk/components, lgtm, size/XS

#3439 Support execution throttling for executing the pipelines (#3346)
  samples/core/pipeline_parallelism/pipeline_parallelism_limits.py
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/dsl/_pipeline.py
  sdk/python/tests/compiler/compiler_tests.py
Labels: approved, lgtm, size/M

#3616 Add Nodeselector to pipelineconfig fix issue #2863
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/dsl/_pipeline.py
  sdk/python/tests/compiler/compiler_tests.py
Labels: approved, lgtm, size/M

#3659 Travis - Disabled coveralls for python
  .travis.yml
Labels: approved, lgtm, size/XS

#3690 Fixed the TFX conflicts in tests
  .travis.yml
Labels: approved, area/testing, lgtm, priority/p0, size/XS

#3695 [UI] Update @kubeflow/frontend with fixes for #3625 and #3648
  frontend/package-lock.json
  frontend/package.json
Labels: approved, area/frontend, kind/bug, lgtm, size/S

#3650 [Backend] Use service account passed from api object
  backend/src/apiserver/model/job.go
  backend/src/apiserver/model/run.go
  backend/src/apiserver/resource/model_converter.go
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/server/api_converter.go
  backend/src/apiserver/server/job_server_test.go
  backend/src/apiserver/server/run_server_test.go
  backend/src/apiserver/storage/job_store.go
  backend/src/apiserver/storage/run_store.go
  backend/test/integration/job_api_test.go
  backend/test/integration/run_api_test.go
  backend/test/integration/upgrade_test.go
Labels: approved, area/backend, kind/feature, lgtm, size/L

#3615 Experiment archiving related UI changes
  frontend/src/components/ExperimentList.test.tsx
  frontend/src/components/ExperimentList.tsx
  frontend/src/components/Router.tsx
  frontend/src/components/SideNav.tsx
  frontend/src/components/__snapshots__/ExperimentList.test.tsx.snap
  frontend/src/components/__snapshots__/Router.test.tsx.snap
  frontend/src/components/__snapshots__/SideNav.test.tsx.snap
  frontend/src/lib/Apis.ts
  frontend/src/lib/Buttons.ts
  frontend/src/pages/AllRunsList.tsx
  frontend/src/pages/ArchivedExperiments.test.tsx
  frontend/src/pages/ArchivedExperiments.tsx
  frontend/src/pages/ArchivedExperimentsAndRuns.test.tsx
  frontend/src/pages/ArchivedExperimentsAndRuns.tsx
  frontend/src/pages/ArchivedRuns.test.tsx
  frontend/src/pages/ArchivedRuns.tsx
  frontend/src/pages/ExperimentDetails.tsx
  frontend/src/pages/ExperimentList.test.tsx
  frontend/src/pages/ExperimentList.tsx
  frontend/src/pages/NewRun.test.tsx
  frontend/src/pages/NewRun.tsx
  frontend/src/pages/RunDetails.test.tsx
  frontend/src/pages/RunDetails.tsx
  frontend/src/pages/__snapshots__/ArchivedExperiments.test.tsx.snap
  frontend/src/pages/__snapshots__/ArchivedExperimentsAndRuns.test.tsx.snap
  frontend/src/pages/__snapshots__/ArchivedRuns.test.tsx.snap
Labels: approved, area/frontend, lgtm, size/XXL

#3700 Cache - Fixed the cache deployer script
  backend/src/cache/deployer/deploy-cache-service.sh
Labels: approved, area/execution_cache, kind/bug, lgtm, size/XS

#3702 Cache - Add namespace to webhook config's name
  backend/src/cache/deployer/cache-configmap.yaml.template
  backend/src/cache/deployer/deploy-cache-service.sh
Labels: approved, lgtm, size/XS

#3698 Fixed the ComponentSpec schema
  sdk/python/kfp/components/structures/components.json_schema.json
  sdk/python/kfp/components/structures/components.json_schema.outline.yaml
Labels: approved, area/sdk/components, lgtm, size/S

#3672 Make it possible to upload a version of the pipeline with CLI
  sdk/python/kfp/cli/pipeline.py
Labels: approved, lgtm, ok-to-test, size/M

#3675 3674: check if gcs bucket exist before creation
  sdk/python/kfp/containers/_gcs_helper.py
Labels: approved, lgtm, needs-ok-to-test, size/XS

#3694 update version for 0.5.1
  VERSION
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/application.yaml
  manifests/gcp_marketplace/schema.yaml
  manifests/kustomize/base/params.env
  sdk/python/kfp/__init__.py
Labels: approved, lgtm, size/S

#3651 [UI] textbox to select KSA when creating runs/jobs
  frontend/src/apis/job/api.ts
  frontend/src/apis/run/api.ts
  frontend/src/pages/NewRun.test.tsx
  frontend/src/pages/NewRun.tsx
  frontend/src/pages/__snapshots__/NewRun.test.tsx.snap
  test/frontend-integration-test/helloworld.spec.js
Labels: approved, area/frontend, kind/feature, lgtm, size/L

#3654 Integration tests for AWS SageMaker Components
  components/aws/sagemaker/tests/integration_tests/.flake8
  components/aws/sagemaker/tests/integration_tests/README.md
  components/aws/sagemaker/tests/integration_tests/component_tests/test_model_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_train_component.py
  components/aws/sagemaker/tests/integration_tests/conftest.py
  components/aws/sagemaker/tests/integration_tests/environment.yml
  components/aws/sagemaker/tests/integration_tests/pytest.ini
  components/aws/sagemaker/tests/integration_tests/resources/config/kmeans-mnist-model/config.yaml
  components/aws/sagemaker/tests/integration_tests/resources/config/simple-mnist-training/config.yaml
  components/aws/sagemaker/tests/integration_tests/resources/definition/create_model_pipeline.py
  components/aws/sagemaker/tests/integration_tests/resources/definition/training_pipeline.py
  components/aws/sagemaker/tests/integration_tests/utils/__init__.py
  components/aws/sagemaker/tests/integration_tests/utils/argo_utils.py
  components/aws/sagemaker/tests/integration_tests/utils/kfp_client_utils.py
  components/aws/sagemaker/tests/integration_tests/utils/minio_utils.py
  components/aws/sagemaker/tests/integration_tests/utils/sagemaker_utils.py
Labels: approved, lgtm, needs-ok-to-test, size/XL

#3706 0.5.1 changelog
  CHANGELOG.md
Labels: approved, lgtm, size/XS

#3712 [UI] Improve TFX artifact visualization speed
  frontend/src/lib/OutputArtifactLoader.ts
  frontend/src/pages/RunDetails.tsx
Labels: approved, area/frontend, lgtm, size/M

#3713 [UI] Hide empty resource op manifest tab in run details page
  frontend/src/pages/RunDetails.test.tsx
  frontend/src/pages/RunDetails.tsx
  frontend/src/pages/__snapshots__/RunDetails.test.tsx.snap
Labels: approved, area/frontend, lgtm, size/M

#3715 [UI] Cleanup, remove types from urls in artifact/execution details page
  frontend/src/components/Router.tsx
  frontend/src/components/__snapshots__/Router.test.tsx.snap
  frontend/src/lib/MlmdUtils.ts
  frontend/src/pages/ArtifactDetails.tsx
  frontend/src/pages/ArtifactList.tsx
  frontend/src/pages/ExecutionDetails.tsx
  frontend/src/pages/ExecutionList.tsx
  frontend/src/pages/RunDetails.tsx
Labels: approved, area/frontend, area/mlmd, lgtm, size/L

#3721 Fixed small syntax error in a sample notebook
  components/tfx/_samples/TFX_Dataflow_pipeline.ipynb
Labels: approved, area/samples, lgtm, size/XS

#3716 Remove an accidentally committed debugging log
  frontend/src/lib/Buttons.ts
Labels: lgtm, size/XS

#3714 When patching the {{}} placeholder in parameter, check for possible nil pointer
  backend/src/apiserver/resource/resource_manager_util.go
Labels: lgtm, size/S

#3717 [UI] Make visualization tab easier to understand
  frontend/src/components/Banner.test.tsx
  frontend/src/components/Banner.tsx
  frontend/src/components/Router.tsx
  frontend/src/components/__snapshots__/Banner.test.tsx.snap
  frontend/src/components/viewers/VisualizationCreator.test.tsx
  frontend/src/components/viewers/VisualizationCreator.tsx
  frontend/src/lib/OutputArtifactLoader.ts
  frontend/src/pages/ArchivedExperiments.tsx
  frontend/src/pages/RunDetails.test.tsx
  frontend/src/pages/RunDetails.tsx
  frontend/src/pages/__snapshots__/RunDetails.test.tsx.snap
Labels: approved, area/frontend, area/ux, kind/feature, lgtm, size/L

#3707 [frontend] Show artifact preview in UI (#2172)
  frontend/src/components/DetailsTable.test.tsx
  frontend/src/components/DetailsTable.tsx
  frontend/src/components/MinioArtifactLink.test.tsx
  frontend/src/components/MinioArtifactLink.tsx
  frontend/src/components/MinioArtifactPreview.test.tsx
  frontend/src/components/MinioArtifactPreview.tsx
  frontend/src/components/__snapshots__/DetailsTable.test.tsx.snap
  frontend/src/lib/Apis.test.ts
  frontend/src/lib/Apis.ts
  frontend/src/lib/Utils.test.ts
  frontend/src/lib/Utils.tsx
  frontend/src/pages/RunDetails.tsx
  frontend/src/pages/__snapshots__/RunDetails.test.tsx.snap
Labels: approved, area/frontend, lgtm, size/XXL

#3739 Travis - Made flake8 test optional
  .travis.yml
Labels: approved, area/testing, lgtm, priority/p0, size/XS

#3727 SDK - Annotate pods with component_ref
  sdk/python/kfp/compiler/_op_to_template.py
  sdk/python/kfp/dsl/_component_bridge.py
  sdk/python/tests/compiler/compiler_tests.py
Labels: approved, area/sdk/dsl/compiler, lgtm, size/S

#3724 SDK - Prioritize lib2to3 when stripping type annotations
  sdk/python/kfp/components/_python_op.py
  sdk/python/tests/compiler/testdata/parallelfor_item_argument_resolving.yaml
Labels: approved, area/sdk/components, lgtm, size/S

#3683 [AWS SageMaker] Specify component input types
  components/aws/sagemaker/THIRD-PARTY-LICENSES.txt
  components/aws/sagemaker/batch_transform/component.yaml
  components/aws/sagemaker/batch_transform/src/batch_transform.py
  components/aws/sagemaker/codebuild/deploy.buildspec.yml
  components/aws/sagemaker/codebuild/scripts/deploy.sh
  components/aws/sagemaker/common/_utils.py
  components/aws/sagemaker/deploy/component.yaml
  components/aws/sagemaker/deploy/src/deploy.py
  components/aws/sagemaker/ground_truth/component.yaml
  components/aws/sagemaker/ground_truth/src/ground_truth.py
  components/aws/sagemaker/hyperparameter_tuning/component.yaml
  components/aws/sagemaker/hyperparameter_tuning/src/hyperparameter_tuning.py
  components/aws/sagemaker/model/component.yaml
  components/aws/sagemaker/model/src/create_model.py
  components/aws/sagemaker/train/component.yaml
  components/aws/sagemaker/train/src/train.py
  components/aws/sagemaker/workteam/component.yaml
  components/aws/sagemaker/workteam/src/workteam.py
  samples/contrib/aws-samples/ground_truth_pipeline_demo/mini-image-classification-pipeline.py
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/kmeans-hpo-pipeline.py
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/mnist-classification-pipeline.py
  samples/contrib/aws-samples/simple_train_pipeline/training-pipeline.py
Labels: approved, lgtm, ok-to-test, size/XL

#3537 Upgraded Argo to v2.7.5
  .cloudbuild.yaml
  .release.cloudbuild.yaml
  backend/Dockerfile
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/argo.yaml
  manifests/kustomize/base/argo/cluster-scoped/workflow-crd.yaml
  manifests/kustomize/base/argo/workflow-controller-configmap.yaml
  manifests/kustomize/base/argo/workflow-controller-deployment.yaml
  manifests/kustomize/base/argo/workflow-controller-role.yaml
  test/check-argo-status.sh
  test/install-argo.sh
  test/sample-test/Dockerfile
  test/tag_for_hosted.sh
  third_party/argo/Dockerfile.argoexec
  third_party/argo/Dockerfile.workflow-controller
  third_party/argo/release.sh
Labels: approved, area/deployment/marketplace, area/deployment/standalone, lgtm, size/L

#3741 [Backend] Allow capital letters and underscore in metric names
  backend/src/apiserver/server/run_metric_util.go
  backend/src/apiserver/server/run_metric_util_test.go
Labels: approved, area/backend, kind/feature, lgtm, size/S

#3745 Fix bug in #3707 - href should show full artifact content
  frontend/src/components/MinioArtifactPreview.test.tsx
  frontend/src/components/MinioArtifactPreview.tsx
Labels: approved, lgtm, size/S

#3295 MetadataStore: Upgrade tool
  tools/metadatastore-upgrade/README.md
  tools/metadatastore-upgrade/main.go
Labels: approved, lgtm, size/L

#3743 Show version tag in UI
  .cloudbuild.yaml
  backend/Dockerfile
  backend/src/apiserver/main.go
  frontend/Dockerfile
  frontend/server/.gitignore
  frontend/server/app.test.ts
  frontend/server/handlers/healthz.ts
  frontend/server/integration-tests/test-helper.ts
  frontend/src/components/SideNav.test.tsx
  frontend/src/components/SideNav.tsx
  frontend/src/components/__snapshots__/SideNav.test.tsx.snap
  frontend/src/lib/Apis.ts
  test/cloudbuild/api_server.yaml
  test/cloudbuild/batch_build.yaml
  test/cloudbuild/frontend.yaml
Labels: approved, area/backend, area/frontend, lgtm, size/L

#3747 [UI] Wrap parameter/urls on overflow
  frontend/src/components/DetailsTable.tsx
  frontend/src/components/MinioArtifactPreview.tsx
Labels: approved, area/frontend, area/ux, kind/bug, lgtm, size/S

#3726 SDK - Components - Calculate component hash digest
  sdk/python/kfp/components/_components.py
  sdk/python/tests/components/test_components.py
  sdk/python/tests/components/test_data/retail_product_stockout_prediction_pipeline.component.yaml
Labels: approved, area/sdk/components, lgtm, size/M

#3734 SDK - Made outputs with original names available in ContainerOp.outputs
  sdk/python/kfp/compiler/_op_to_template.py
  sdk/python/kfp/dsl/_component_bridge.py
  sdk/python/kfp/dsl/_container_op.py
  sdk/python/tests/compiler/testdata/parallelfor_item_argument_resolving.yaml
  sdk/python/tests/dsl/component_bridge_tests.py
Labels: approved, area/sdk/dsl, lgtm, size/L

#3749 [UI] Fix artifact preview with outdated content
  frontend/src/pages/RunDetails.tsx
  frontend/src/pages/__snapshots__/RunDetails.test.tsx.snap
Labels: approved, area/frontend, kind/bug, lgtm, size/S

#3750 [UI] Show tooltip on long version names
  frontend/src/pages/NewRun.tsx
  frontend/src/pages/RunList.tsx
  frontend/src/pages/__snapshots__/NewRun.test.tsx.snap
  frontend/src/pages/__snapshots__/RunList.test.tsx.snap
Labels: approved, area/frontend, kind/bug, lgtm, size/L

#3725 Metadata Writer - Preserve all Argo artifact information
  backend/metadata_writer/src/metadata_helpers.py
  backend/metadata_writer/src/metadata_writer.py
Labels: approved, area/metadata-writer, lgtm, size/XS

#3753 [UI Server] Refactor for configurable auth header
  frontend/server/app.test.ts
  frontend/server/app.ts
  frontend/server/configs.ts
  frontend/server/handlers/tensorboard.ts
  frontend/server/helpers/auth.ts
Labels: approved, area/frontend, cuj/multi-user, kind/feature, lgtm, size/L

#3738 SDK - Components - Improved stability of the input and output renaming
  sdk/python/kfp/components/_naming.py
  sdk/python/tests/components/test_components.py
Labels: approved, area/sdk/components, lgtm, size/M

#3722 [AWS SageMaker] Unit tests for Training component
  components/aws/sagemaker/common/_utils.py
  components/aws/sagemaker/hyperparameter_tuning/README.md
  components/aws/sagemaker/tests/unit_tests/pytest.ini
  components/aws/sagemaker/tests/unit_tests/run_all_tests.sh
  components/aws/sagemaker/tests/unit_tests/tests/test_train.py
  components/aws/sagemaker/train/README.md
  components/aws/sagemaker/train/src/train.py
Labels: approved, lgtm, ok-to-test, size/L

#3760 Components - Tensorboard visualization
  components/tensorflow/tensorboard/prepare_tensorboard/component.yaml
Labels: approved, area/components, lgtm, size/M

#3757 [Servers] Add liveness and readiness probes
  backend/Dockerfile
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/pipeline.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-apiserver-deployment.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-ui-deployment.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-visualization-deployment.yaml
Labels: approved, deployment, lgtm, size/L

#3765 Add probes to metadata grpc service
  frontend/README.md
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/metadata.yaml
  manifests/kustomize/base/metadata/metadata-grpc-deployment.yaml
  manifests/kustomize/base/metadata/metadata-grpc-service.yaml
Labels: approved, area/metadata-api, deployment, lgtm, size/M

#3434 Update deployment resource version from /v1beta1 -> /v1 in gcp_marketplace
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/application.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/argo.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/metadata.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/minio.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/mysql.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/pipeline.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/proxy.yaml
Labels: approved, lgtm, size/M

#3751 SDK - Moved some data from the component_ref annotation to the component_spec annotation
  sdk/python/kfp/dsl/_component_bridge.py
Labels: approved, area/sdk/dsl/compiler, lgtm, size/XS

#3720 AWS Sagemaker Components - enhance integration test coverage
  components/aws/sagemaker/tests/integration_tests/README.md
  components/aws/sagemaker/tests/integration_tests/component_tests/test_batch_transform_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_deploy_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_hpo_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_model_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_train_component.py
  components/aws/sagemaker/tests/integration_tests/environment.yml
  components/aws/sagemaker/tests/integration_tests/pytest.ini
  components/aws/sagemaker/tests/integration_tests/resources/config/kmeans-mnist-batch-transform/config.yaml
  components/aws/sagemaker/tests/integration_tests/resources/config/kmeans-mnist-endpoint/config.yaml
  components/aws/sagemaker/tests/integration_tests/resources/config/kmeans-mnist-hpo/config.yaml
  components/aws/sagemaker/tests/integration_tests/resources/config/simple-mnist-training/config.yaml
  components/aws/sagemaker/tests/integration_tests/resources/definition/create_endpoint_pipeline.py
  components/aws/sagemaker/tests/integration_tests/resources/definition/hpo_pipeline.py
  components/aws/sagemaker/tests/integration_tests/resources/definition/transform_job_pipeline.py
  components/aws/sagemaker/tests/integration_tests/utils/__init__.py
  components/aws/sagemaker/tests/integration_tests/utils/kfp_client_utils.py
  components/aws/sagemaker/tests/integration_tests/utils/minio_utils.py
  components/aws/sagemaker/tests/integration_tests/utils/s3_utils.py
  components/aws/sagemaker/tests/integration_tests/utils/sagemaker_utils.py
Labels: approved, lgtm, ok-to-test, size/XL

#3740 Add more approvers in AWS Sagemaker components
  components/aws/sagemaker/OWNERS
  samples/contrib/aws-samples/OWNERS
Labels: approved, lgtm, size/XS

#3773 SDK - Components - Removed the deprecated _python_op.get_default_base_image and set_default_base_image functions
  sdk/python/kfp/components/_python_op.py
  sdk/python/kfp/containers/_component_builder.py
Labels: approved, area/sdk/components, lgtm, size/S

#3774 SDK - Moved the tests closer to the code
  sdk/python/kfp/components_tests/__init__.py
  sdk/python/kfp/components_tests/test_components.py
  sdk/python/kfp/components_tests/test_data/component_with_0_inputs_and_2_outputs.component.yaml
  sdk/python/kfp/components_tests/test_data/component_with_2_inputs_and_0_outputs.component.yaml
  sdk/python/kfp/components_tests/test_data/component_with_2_inputs_and_2_outputs.component.yaml
  sdk/python/kfp/components_tests/test_data/module1.py
  sdk/python/kfp/components_tests/test_data/module2_which_depends_on_module1.py
  sdk/python/kfp/components_tests/test_data/python_add.component.yaml
  sdk/python/kfp/components_tests/test_data/python_add.component.zip
  sdk/python/kfp/components_tests/test_data/retail_product_stockout_prediction_pipeline.component.yaml
  sdk/python/kfp/components_tests/test_data/retail_product_stockout_prediction_pipeline.py
  sdk/python/kfp/components_tests/test_graph_components.py
  sdk/python/kfp/components_tests/test_python_op.py
  sdk/python/kfp/components_tests/test_python_pipeline_to_graph_component.py
  sdk/python/kfp/components_tests/test_structure_model_base.py
  sdk/python/kfp/containers_tests/__init__.py
  sdk/python/kfp/containers_tests/test_build_image_api.py
  sdk/python/tests/run_tests.sh
Labels: approved, area/sdk/tests, lgtm, size/XS

#3781 [Testing] Fix "1.14.10-gke.27" is unsupported
  test/deploy-cluster.sh
Labels: approved, area/engprod, area/testing, kind/misc, lgtm, priority/p0, size/XS

#3776 [Manifest] Use kustomize native image transformer to override image
  manifests/kustomize/base/cache-deployer/cache-deployer-deployment.yaml
  manifests/kustomize/base/cache/cache-deployment.yaml
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/base/metadata/metadata-writer-deployment.yaml
  manifests/kustomize/base/params.env
  manifests/kustomize/base/pipeline/ml-pipeline-apiserver-deployment.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-persistenceagent-deployment.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-scheduledworkflow-deployment.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-ui-deployment.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-viewer-crd-deployment.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-visualization-deployment.yaml
  manifests/kustomize/env/gcp/inverse-proxy/kustomization.yaml
  manifests/kustomize/env/gcp/inverse-proxy/proxy-deployment.yaml
  test/deploy-pipeline-lite.sh
  test/manifests/dev/kustomization.yaml
Labels: approved, area/deployment/kubeflow, area/deployment/standalone, kind/misc, lgtm, size/L

#3784 SDK - Components - Use relative imports for tests
  sdk/python/kfp/components_tests/test_components.py
  sdk/python/kfp/components_tests/test_data/retail_product_stockout_prediction_pipeline.py
  sdk/python/kfp/components_tests/test_graph_components.py
  sdk/python/kfp/components_tests/test_python_op.py
  sdk/python/kfp/components_tests/test_python_pipeline_to_graph_component.py
  sdk/python/kfp/components_tests/test_structure_model_base.py
Labels: approved, area/sdk/tests, lgtm, size/M

#3772 [Backend] Make user identity header configurable
  backend/src/apiserver/common/config.go
  backend/src/apiserver/common/const.go
  backend/src/apiserver/main.go
  backend/src/apiserver/server/experiment_server_test.go
  backend/src/apiserver/server/job_server_test.go
  backend/src/apiserver/server/run_server_test.go
  backend/src/apiserver/server/util.go
  backend/src/apiserver/server/util_test.go
  backend/src/apiserver/server/visualization_server_test.go
Labels: approved, lgtm, size/M

#3565 Allow PipelineParams in dict keys too.
  sdk/python/kfp/compiler/_op_to_template.py
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/dsl/_pipeline_param.py
  sdk/python/tests/dsl/pipeline_param_tests.py
Labels: approved, lgtm, ok-to-test, size/M

#3785 [ScheduledWorkflow] Fix events permission missing, fixes #3545
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/pipeline.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-scheduledworkflow-role.yaml
Labels: approved, deployment, kind/bug, lgtm, size/S

#3530 Infer artifact store endpoint in metadata writer
  backend/metadata_writer/src/metadata_writer.py
Labels: approved, lgtm, size/S

#3792 Changing the default volume size to 30
  components/aws/sagemaker/hyperparameter_tuning/src/hyperparameter_tuning.py
  components/aws/sagemaker/train/src/train.py
Labels: approved, lgtm, ok-to-test, size/XS

#3787 Client - Added documentation for the generated members
  docs/source/kfp.client.rst
Labels: approved, area/docs, lgtm, size/M

#3768 [AWS SageMaker] Integration tests automation
  components/aws/sagemaker/.gitignore
  components/aws/sagemaker/codebuild/integration-test.buildspec.yml
  components/aws/sagemaker/codebuild/scripts/construct_environment_array.sh
  components/aws/sagemaker/codebuild/unit-test.buildspec.yml
  components/aws/sagemaker/tests/integration_tests/.env.example
  components/aws/sagemaker/tests/integration_tests/Dockerfile
  components/aws/sagemaker/tests/integration_tests/README.md
  components/aws/sagemaker/tests/integration_tests/conftest.py
  components/aws/sagemaker/tests/integration_tests/environment.yml
  components/aws/sagemaker/tests/integration_tests/resources/config/kmeans-mnist-endpoint/config.yaml
  components/aws/sagemaker/tests/integration_tests/resources/definition/create_endpoint_pipeline.py
  components/aws/sagemaker/tests/integration_tests/resources/definition/create_model_pipeline.py
  components/aws/sagemaker/tests/integration_tests/resources/definition/hpo_pipeline.py
  components/aws/sagemaker/tests/integration_tests/resources/definition/training_pipeline.py
  components/aws/sagemaker/tests/integration_tests/resources/definition/transform_job_pipeline.py
  components/aws/sagemaker/tests/integration_tests/scripts/generate_iam_role
  components/aws/sagemaker/tests/integration_tests/scripts/generate_trust_policy
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
Labels: approved, lgtm, size/L

#3705 Add the 'kfp experiment' commands
  sdk/python/kfp/cli/cli.py
  sdk/python/kfp/cli/experiment.py
Labels: approved, lgtm, ok-to-test, size/M

#3719 AWS SageMaker : Use IAM Roles for Service Account
  components/aws/sagemaker/batch_transform/src/batch_transform.py
  components/aws/sagemaker/deploy/README.md
  components/aws/sagemaker/deploy/src/deploy.py
  components/aws/sagemaker/hyperparameter_tuning/README.md
  components/aws/sagemaker/hyperparameter_tuning/src/hyperparameter_tuning.py
  components/aws/sagemaker/train/README.md
  components/aws/sagemaker/train/src/train.py
  samples/contrib/aws-samples/README.md
  samples/contrib/aws-samples/ground_truth_pipeline_demo/README.md
  samples/contrib/aws-samples/ground_truth_pipeline_demo/mini-image-classification-pipeline.py
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/README.md
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/kmeans-hpo-pipeline.py
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/mnist-classification-pipeline.py
  samples/contrib/aws-samples/simple_train_pipeline/README.md
  samples/contrib/aws-samples/simple_train_pipeline/training-pipeline.py
Labels: approved, lgtm, ok-to-test, size/L

#3817 [UI] Fix confusion matrix wrong axes
  frontend/src/components/viewers/ConfusionMatrix.tsx
  frontend/src/components/viewers/__snapshots__/ConfusionMatrix.test.tsx.snap
  frontend/src/lib/OutputArtifactLoader.test.ts
  frontend/src/lib/OutputArtifactLoader.ts
Labels: approved, area/frontend, kind/bug, lgtm, size/XL

#3813 Docs - Added kfp.dsl placeholders to the docs
  docs/source/kfp.dsl.rst
Labels: approved, area/docs, lgtm, size/XS

#3791 Adding HPO unit test
  components/aws/sagemaker/common/_utils.py
  components/aws/sagemaker/hyperparameter_tuning/src/hyperparameter_tuning.py
  components/aws/sagemaker/tests/unit_tests/tests/test_hpo.py
  components/aws/sagemaker/tests/unit_tests/tests/test_train.py
Labels: approved, lgtm, ok-to-test, size/L

#3828 Client - Allow specifying pipeline description when uploading
  sdk/python/kfp/_client.py
Labels: approved, area/sdk/client, lgtm, size/S

#3840 [UI] Also cloning recurring run schedule, fixes #3761
  frontend/global-setup.js
  frontend/package.json
  frontend/src/components/Trigger.test.tsx
  frontend/src/components/Trigger.tsx
  frontend/src/components/__snapshots__/Trigger.test.tsx.snap
  frontend/src/lib/TriggerUtils.test.ts
  frontend/src/lib/TriggerUtils.ts
  frontend/src/pages/NewRun.test.tsx
  frontend/src/pages/NewRun.tsx
  frontend/src/pages/__snapshots__/NewRun.test.tsx.snap
Labels: approved, area/frontend, kind/feature, lgtm, size/L

#3833 Testing - Pin numpy version to fix TFX installation instability in Travis tests
  .travis.yml
Labels: approved, area/testing, lgtm, size/XS

#3830 [AWS SageMaker] Integration Test for AWS SageMaker GroundTruth Component
  components/aws/sagemaker/ground_truth/component.yaml
  components/aws/sagemaker/tests/integration_tests/README.md
  components/aws/sagemaker/tests/integration_tests/component_tests/test_groundtruth_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_workteam_component.py
  components/aws/sagemaker/tests/integration_tests/conftest.py
  components/aws/sagemaker/tests/integration_tests/resources/config/create-workteam/config.yaml
  components/aws/sagemaker/tests/integration_tests/resources/config/image-classification-groundtruth/config.yaml
  components/aws/sagemaker/tests/integration_tests/resources/config/kmeans-mnist-endpoint/config.yaml
  components/aws/sagemaker/tests/integration_tests/resources/definition/groundtruth_pipeline.py
  components/aws/sagemaker/tests/integration_tests/resources/definition/workteam_pipeline.py
  components/aws/sagemaker/tests/integration_tests/utils/kfp_client_utils.py
  components/aws/sagemaker/tests/integration_tests/utils/sagemaker_utils.py
Labels: approved, lgtm, ok-to-test, size/L

#3854 Components - Moved TFX components to deprecated directory
  components/deprecated/tfx/Evaluator/component.py
  components/deprecated/tfx/Evaluator/component.yaml
  components/deprecated/tfx/Evaluator/with_URI_IO/component.py
  components/deprecated/tfx/Evaluator/with_URI_IO/component.yaml
  components/deprecated/tfx/ExampleGen/BigQueryExampleGen/component.py
  components/deprecated/tfx/ExampleGen/BigQueryExampleGen/component.yaml
  components/deprecated/tfx/ExampleGen/BigQueryExampleGen/with_URI_IO/component.py
  components/deprecated/tfx/ExampleGen/BigQueryExampleGen/with_URI_IO/component.yaml
  components/deprecated/tfx/ExampleGen/CsvExampleGen/component.py
  components/deprecated/tfx/ExampleGen/CsvExampleGen/component.yaml
  components/deprecated/tfx/ExampleGen/CsvExampleGen/with_URI_IO/component.py
  components/deprecated/tfx/ExampleGen/CsvExampleGen/with_URI_IO/component.yaml
  components/deprecated/tfx/ExampleGen/ImportExampleGen/component.py
  components/deprecated/tfx/ExampleGen/ImportExampleGen/component.yaml
  components/deprecated/tfx/ExampleGen/ImportExampleGen/with_URI_IO/component.py
  components/deprecated/tfx/ExampleGen/ImportExampleGen/with_URI_IO/component.yaml
  components/deprecated/tfx/ExampleValidator/component.py
  components/deprecated/tfx/ExampleValidator/component.yaml
  components/deprecated/tfx/ExampleValidator/with_URI_IO/component.py
  components/deprecated/tfx/ExampleValidator/with_URI_IO/component.yaml
  components/deprecated/tfx/README.md
  components/deprecated/tfx/SchemaGen/component.py
  components/deprecated/tfx/SchemaGen/component.yaml
  components/deprecated/tfx/SchemaGen/with_URI_IO/component.py
  components/deprecated/tfx/SchemaGen/with_URI_IO/component.yaml
  components/deprecated/tfx/StatisticsGen/component.py
  components/deprecated/tfx/StatisticsGen/component.yaml
  components/deprecated/tfx/StatisticsGen/with_URI_IO/component.py
  components/deprecated/tfx/StatisticsGen/with_URI_IO/component.yaml
  components/deprecated/tfx/Trainer/component.py
  components/deprecated/tfx/Trainer/component.yaml
  components/deprecated/tfx/Trainer/with_URI_IO/component.py
  components/deprecated/tfx/Trainer/with_URI_IO/component.yaml
  components/deprecated/tfx/Transform/component.py
  components/deprecated/tfx/Transform/component.yaml
  components/deprecated/tfx/Transform/with_URI_IO/component.py
  components/deprecated/tfx/Transform/with_URI_IO/component.yaml
  components/deprecated/tfx/_samples/TFX_Dataflow_pipeline.ipynb
  components/deprecated/tfx/_samples/TFX_pipeline.ipynb
Labels: approved, area/components, lgtm, size/XS

#3824 Added README for Amazon SageMaker Components for Kubeflow Pipelines
  components/aws/sagemaker/README.md
Labels: approved, lgtm, ok-to-test, size/M

#3846 A more accurate grpc error code for duplicate pipeline/pipeline version/experiment names
  backend/src/apiserver/storage/experiment_store.go
  backend/src/apiserver/storage/pipeline_store.go
Labels: approved, lgtm, size/XS

#3811 Add labels to plots
  tools/benchmarks/pipeline_service_api.ipynb
  tools/benchmarks/run_service_api.ipynb
Labels: lgtm, size/M

#3775 Datasets - Added Chicago Taxi Trips dataset
  components/datasets/Chicago_Taxi_Trips/component.yaml
Labels: approved, area/components, lgtm, size/M

#3843 Components - XGBoost
  components/XGBoost/Predict/component.py
  components/XGBoost/Predict/component.yaml
  components/XGBoost/Train/component.py
  components/XGBoost/Train/component.yaml
  components/XGBoost/_samples/sample_pipeline.py
Labels: approved, area/components, lgtm, size/L

#3845 revert the fix in proxy-agent to make sure hostname won't be changed
  proxy/attempt-register-vm-on-proxy.sh
Labels: approved, lgtm, size/S

#3856 Testing - Handling spaces in paths in the component file loading test
  components/test_load_all_components.sh
Labels: approved, area/testing, lgtm, size/XS

#3783 [AWS SageMaker] Add more unit tests
  components/aws/sagemaker/batch_transform/src/batch_transform.py
  components/aws/sagemaker/common/_utils.py
  components/aws/sagemaker/deploy/src/deploy.py
  components/aws/sagemaker/ground_truth/src/ground_truth.py
  components/aws/sagemaker/model/src/create_model.py
  components/aws/sagemaker/tests/unit_tests/tests/test_batch_transform.py
  components/aws/sagemaker/tests/unit_tests/tests/test_deploy.py
  components/aws/sagemaker/tests/unit_tests/tests/test_ground_truth.py
  components/aws/sagemaker/tests/unit_tests/tests/test_hpo.py
  components/aws/sagemaker/tests/unit_tests/tests/test_model.py
  components/aws/sagemaker/tests/unit_tests/tests/test_train.py
  components/aws/sagemaker/tests/unit_tests/tests/test_workteam.py
  components/aws/sagemaker/workteam/src/workteam.py
Labels: approved, lgtm, ok-to-test, size/XL

#3123 Testing - Using Argo validation in Travis tests
  .travis.yml
Labels: approved, area/testing, lgtm, size/XS

#3864 Cleanup - Removed unused code file
  sdk/python/tests/compiler/compiler_withparams_test_helper.py
Labels: approved, area/sdk/tests, lgtm, size/M

#3852 Kfserving component service account option
  components/kubeflow/kfserving/Dockerfile
  components/kubeflow/kfserving/component.yaml
  components/kubeflow/kfserving/src/app.py
  components/kubeflow/kfserving/src/kfservingdeployer.py
Labels: approved, lgtm, needs-ok-to-test, size/L

#3834 Components - Apache Parquet converters
  components/_converters/ApacheParquet/_samples/sample_pipeline.py
  components/_converters/ApacheParquet/from_ApacheArrowFeather/component.py
  components/_converters/ApacheParquet/from_ApacheArrowFeather/component.yaml
  components/_converters/ApacheParquet/from_CSV/component.py
  components/_converters/ApacheParquet/from_CSV/component.yaml
  components/_converters/ApacheParquet/from_TSV/component.py
  components/_converters/ApacheParquet/from_TSV/component.yaml
  components/_converters/ApacheParquet/to_ApacheArrowFeather/component.py
  components/_converters/ApacheParquet/to_ApacheArrowFeather/component.yaml
Labels: approved, area/components, lgtm, size/L

#3838 Testing - Fixed skipped SDK Travis tests
  .travis.yml
Labels: approved, area/testing, lgtm, size/XS

#3863 Modify docstrings to replace 'InitContainer' to 'UserContainer'
  sdk/python/kfp/dsl/_container_op.py
Labels: approved, lgtm, needs-ok-to-test, size/XS

#3865 fixing case when status is None
  components/aws/sagemaker/tests/integration_tests/utils/kfp_client_utils.py
Labels: approved, lgtm, needs-ok-to-test, size/XS

#3696 re-enable upgrade test since 0.5.2 is cut
  backend/test/integration/upgrade_test.go
Labels: lgtm, size/S

#3861 [SDK] Add first party component label
  sdk/python/kfp/compiler/_default_transformers.py
  sdk/python/kfp/compiler/compiler.py
  sdk/python/tests/compiler/compiler_tests.py
Labels: approved, lgtm, size/M

#3831 [AWS SageMaker] Add working FSx setup and test
  components/aws/sagemaker/codebuild/integration-test.buildspec.yml
  components/aws/sagemaker/tests/integration_tests/.env.example
  components/aws/sagemaker/tests/integration_tests/component_tests/test_train_component.py
  components/aws/sagemaker/tests/integration_tests/conftest.py
  components/aws/sagemaker/tests/integration_tests/pytest.ini
  components/aws/sagemaker/tests/integration_tests/resources/config/fsx-mnist-training/config.yaml
  components/aws/sagemaker/tests/integration_tests/resources/definition/training_pipeline.py
  components/aws/sagemaker/tests/integration_tests/scripts/fsx_setup
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
  components/aws/sagemaker/tests/integration_tests/utils/__init__.py
Labels: approved, lgtm, size/L

#3837 SDK - Tests - Fixed the test_func_to_container_op_with_imported_func2 test case
  sdk/python/kfp/components_tests/test_python_op.py
Labels: approved, area/sdk/components, lgtm, size/XS

#3531 Generate clickable artifact url for s3 URI
  frontend/src/components/ArtifactLink.tsx
  frontend/src/lib/Utils.test.ts
  frontend/src/lib/Utils.tsx
Labels: approved, area/frontend, lgtm, size/M
