Repository kubeflow/pipelines, pull requests merged in 2020-09, with the labels that each got.

#4445 build(backend): fix "ModuleNotFoundError: No module named setuptools_distutils". Part of #4443
  backend/Dockerfile.visualization
Labels: approved, cherrypick-approved, cla: yes, size/XS

#4451 test(backend): fix TestJobApis test is flaky. Fixes #4419
  backend/test/integration/job_api_test.go
  backend/test/integration/upgrade_test.go
Labels: approved, area/engprod, area/testing, cherrypick-approved, cla: yes, lgtm, size/S

#4161 [AWS SageMaker] Fix small bugs
  components/aws/sagemaker/tests/integration_tests/.env.example
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
  samples/contrib/aws-samples/simple_train_pipeline/training-pipeline.py
Labels: approved, cla: yes, lgtm, ok-to-test, size/M

#4439 fix(backend): prevent seg fault if workflow manifest is deleted. Fixes #4389
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
Labels: approved, cherrypick-approved, cla: yes, lgtm, ok-to-test, size/M

#3658 chore(metadata): Added instruction to sync the MLMD version
  .cloudbuild.yaml
  .release.cloudbuild.yaml
  manifests/kustomize/base/metadata/metadata-grpc-deployment.yaml
  test/tag_for_hosted.sh
Labels: approved, area/metadata-api, cla: yes, lgtm, size/S

#4068 feat(components): web - Download
  components/web/Download/component.yaml
Labels: approved, area/components, cla: yes, lgtm, size/S

#4376 fix(backend): fix typo in reference key type
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/storage/run_store.go
  backend/src/apiserver/storage/run_store_test.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/S

#4402 fix(backend): add `MaxCallRecvMsgSize(math.MaxInt32)` to proxy server
  backend/src/apiserver/main.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/XS

#4429 fix(backend): Caching - Only send cache-enabled pods to the caching webhook
  backend/src/cache/deployer/cache-webhook-config.v1.yaml.template
  backend/src/cache/deployer/cache-webhook-config.v1beta1.v1.15.yaml.template
  backend/src/cache/deployer/cache-webhook-config.v1beta1.yaml.template
  backend/src/cache/deployer/deploy-cache-service.sh
Labels: approved, area/backend, area/execution_cache, cherrypick-approved, cla: yes, lgtm, size/M

#4417 test(backend): use go test in backend presubmit test
  go.mod
  test/presubmit-backend-test.sh
Labels: approved, cla: yes, lgtm, size/S

#4438 fix(backend): skip reporting native Argo workflows which do not have Run ID label. Fixes #3584
  backend/src/agent/persistence/worker/persistence_worker_test.go
  backend/src/agent/persistence/worker/workflow_saver.go
  backend/src/agent/persistence/worker/workflow_saver_test.go
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
Labels: approved, cherrypick-approved, cla: yes, lgtm, ok-to-test, size/M

#4457 chore(components): AWS SageMaker - Fix leaking resources
  components/aws/sagemaker/tests/integration_tests/component_tests/test_deploy_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_groundtruth_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_workteam_component.py
  components/aws/sagemaker/tests/integration_tests/environment.yml
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
  components/aws/sagemaker/tests/integration_tests/utils/sagemaker_utils.py
Labels: approved, cla: yes, lgtm, ok-to-test, size/L

#4459 chore(components): AWS SageMaker - Add PYTEST_MARKER to container variable passthrough
  components/aws/sagemaker/codebuild/integration-test.buildspec.yml
Labels: approved, cla: yes, lgtm, ok-to-test, size/XS

#4432 fix(components): Fixed the GCP - ML Engine - Batch predict component. Fixes #4430
  components/gcp/container/component_sdk/python/kfp_component/google/ml_engine/_batch_predict.py
  components/gcp/container/component_sdk/python/kfp_component/google/ml_engine/_train.py
  components/gcp/container/component_sdk/python/tests/google/ml_engine/test__train.py
Labels: approved, area/components, cla: yes, kind/bug, lgtm, size/S

#580 refactor(components): De-hardcoded local output paths.
  components/deprecated/dataflow/predict/component.yaml
  components/deprecated/dataflow/tfdv/component.yaml
  components/deprecated/dataflow/tfma/component.yaml
  components/deprecated/dataflow/tft/component.yaml
  components/deprecated/dataproc/analyze/src/analyze.py
  components/deprecated/dataproc/base/Dockerfile
  components/deprecated/dataproc/create_cluster/src/create_cluster.py
  components/deprecated/dataproc/predict/src/predict.py
  components/deprecated/dataproc/train/src/train.py
  components/kubeflow/dnntrainer/component.yaml
  components/kubeflow/dnntrainer/src/trainer/task.py
  components/local/confusion_matrix/component.yaml
  components/local/confusion_matrix/src/confusion_matrix.py
  components/local/roc/component.yaml
  components/local/roc/src/roc.py
Labels: approved, area/components, cla: yes, lgtm, size/L

#4460 test(backend): Fix upgrade_test flakiness. Fixes #4426
  backend/test/integration/upgrade_test.go
  backend/test/test_utils.go
Labels: approved, area/engprod, cherrypick-approved, cla: yes, lgtm, size/S

#4362 fix(components): add istio inject and ready status to kfserving component
  components/kubeflow/kfserving/component.yaml
  components/kubeflow/kfserving/src/app.py
  components/kubeflow/kfserving/src/kfservingdeployer.py
Labels: approved, cla: yes, lgtm, size/M

#4466 chore(release): cherry pick more PRs for 1.0.1
  .cloudbuild.yaml
  components/kubeflow/dnntrainer/build_image.sh
Labels: cla: yes, size/S

#4467 chore(release): cherry pick #3 to 1.0.1 release
  components/deprecated/dataflow/predict/component.yaml
  components/deprecated/dataflow/tfdv/component.yaml
  components/deprecated/dataflow/tfma/component.yaml
  components/deprecated/dataflow/tft/component.yaml
  components/deprecated/dataproc/analyze/src/analyze.py
  components/deprecated/dataproc/base/Dockerfile
  components/deprecated/dataproc/create_cluster/src/create_cluster.py
  components/deprecated/dataproc/predict/src/predict.py
  components/deprecated/dataproc/train/src/train.py
  components/kubeflow/dnntrainer/component.yaml
  components/kubeflow/dnntrainer/src/trainer/task.py
  components/local/confusion_matrix/component.yaml
  components/local/confusion_matrix/src/confusion_matrix.py
  components/local/roc/component.yaml
  components/local/roc/src/roc.py
Labels: cla: yes, size/L

#4449 fix(backend): Add a permission to create events to argo-role
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/argo.yaml
  manifests/kustomize/base/argo/workflow-controller-role.yaml
Labels: approved, cherrypick-approved, cla: yes, lgtm, size/XS

#4471 feat: GCP marketplace - preserve install config in configmap and secret
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/cache.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/config-snapshot.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/metadata.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/pipeline.yaml
  manifests/gcp_marketplace/chart/kubeflow-pipelines/values.yaml
  manifests/gcp_marketplace/hack/snapshots.sh
  manifests/gcp_marketplace/test/snapshot-base.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage-with-db-prefix.yaml
  manifests/gcp_marketplace/test/snapshot-managed-storage.yaml
  manifests/gcp_marketplace/test/values-base.yaml
  manifests/gcp_marketplace/test/values-managed-storage-with-db-prefix.yaml
  manifests/gcp_marketplace/test/values-managed-storage.yaml
Labels: approved, cherrypick-approved, cla: yes, lgtm, size/XXL

#4465 release: automate batch cherry pick process
  RELEASE.md
  hack/cherry-pick.sh
Labels: approved, cherrypick-approved, cla: yes, lgtm, size/M

#4442 chore: Corrects doc string of two client methods.
  sdk/python/kfp/_client.py
Labels: approved, cherrypick-approved, cla: yes, lgtm, size/S

#4478 revert(components): refactor - De-hardcoded local output paths
  components/deprecated/dataflow/predict/component.yaml
  components/deprecated/dataflow/tfdv/component.yaml
  components/deprecated/dataflow/tfma/component.yaml
  components/deprecated/dataflow/tft/component.yaml
  components/deprecated/dataproc/analyze/src/analyze.py
  components/deprecated/dataproc/base/Dockerfile
  components/deprecated/dataproc/create_cluster/src/create_cluster.py
  components/deprecated/dataproc/predict/src/predict.py
  components/deprecated/dataproc/train/src/train.py
  components/kubeflow/dnntrainer/component.yaml
  components/kubeflow/dnntrainer/src/trainer/task.py
  components/local/confusion_matrix/component.yaml
  components/local/confusion_matrix/src/confusion_matrix.py
  components/local/roc/component.yaml
  components/local/roc/src/roc.py
Labels: approved, cla: yes, lgtm, size/L

#4483 test: disable kf-tf-serving sample test to unblock release.
  test/sample_test.yaml
Labels: approved, cherrypick-approved, cla: yes, lgtm, size/XS

#4486 fix(backend): persistence agent - workflow not found error should be a permanent error
  backend/src/agent/persistence/client/pipeline_client.go
  backend/src/apiserver/client/workflow_fake.go
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/common/util/error.go
Labels: approved, area/backend, cherrypick-approved, cla: yes, kind/bug, lgtm, size/M

#4474 fix(frontend): do not render Retry nodes in UI DAG as they are virtual nodes. Fixes #4425 #2705
  frontend/mock-backend/fixed-data.ts
  frontend/mock-backend/mock-retry-runtime.ts
  frontend/src/lib/WorkflowParser.test.ts
  frontend/src/lib/WorkflowParser.ts
Labels: approved, cla: yes, lgtm, size/L

#4490 chore(release): cherry pick #4350 to 1.0.1 release
  manifests/kustomize/README.md
  manifests/kustomize/env/aws/OWNERS
  manifests/kustomize/env/aws/README.md
  manifests/kustomize/env/aws/aws-configuration-patch.yaml
  manifests/kustomize/env/aws/config
  manifests/kustomize/env/aws/kustomization.yaml
  manifests/kustomize/env/aws/minio-artifact-secret-patch.env
  manifests/kustomize/env/aws/params.env
  manifests/kustomize/env/aws/secret.env
  manifests/kustomize/env/aws/viewer-pod-template.json
Labels: cla: yes, size/L

#4491 chore(release): auto configure changelog genreartion for stable/pre releases. Fixes #4248
  hack/cherry-pick.sh
  hack/release.sh
Labels: cherrypick-approved, cla: yes, size/M

#4473 chore: make Pull Request template conciser
  .github/pull_request_template.md
Labels: approved, cla: yes, community/maintenance, lgtm, size/S

#4492 chore(release): bump version to 1.0.1 on master branch
  CHANGELOG.md
  VERSION
  backend/api/python_http_client/README.md
  backend/api/python_http_client/kfp_server_api/__init__.py
  backend/api/python_http_client/kfp_server_api/api_client.py
  backend/api/python_http_client/kfp_server_api/configuration.py
  backend/api/python_http_client/setup.py
  backend/api/swagger/kfp_api_single_file.swagger.json
  backend/src/apiserver/BUILD.bazel
  backend/src/apiserver/client/BUILD.bazel
  backend/src/apiserver/list/BUILD.bazel
  backend/src/apiserver/model/BUILD.bazel
  backend/src/apiserver/resource/BUILD.bazel
  backend/src/apiserver/server/BUILD.bazel
  backend/test/BUILD.bazel
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/application.yaml
  manifests/gcp_marketplace/schema.yaml
  manifests/kustomize/base/cache-deployer/kustomization.yaml
  manifests/kustomize/base/cache/kustomization.yaml
  manifests/kustomize/base/metadata/kustomization.yaml
  manifests/kustomize/base/params.env
  manifests/kustomize/base/pipeline/kustomization.yaml
  manifests/kustomize/base/pipeline/metadata-writer/kustomization.yaml
  manifests/kustomize/env/gcp/inverse-proxy/kustomization.yaml
  sdk/python/kfp/__init__.py
Labels: approved, cla: yes, lgtm, size/L

#4178 feat(compiled): set pod disruption budget for pipelines. Fixes #3877
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/dsl/_pipeline.py
  sdk/python/tests/compiler/compiler_tests.py
Labels: approved, cla: yes, lgtm, size/M

#4501 fix(samples): Switched the AutoML sample from BQ to GCS datasets
  samples/core/AutoML tables/AutoML Tables - Retail product stockout prediction.ipynb
Labels: approved, area/samples/notebooks, cla: yes, lgtm, size/M

#4499 fix(components): GCP - AutoML - Fixed input type in Batch predict
  components/gcp/automl/prediction_service_batch_predict/component.py
  components/gcp/automl/prediction_service_batch_predict/component.yaml
Labels: approved, area/components, cla: yes, lgtm, size/XS

#4496 feat(sdk): Components - Prevent passing unserializable objects to components. Fixes #4040
  sdk/python/kfp/components/_data_passing.py
  sdk/python/kfp/components/_python_op.py
  sdk/python/kfp/components_tests/test_components.py
  sdk/python/kfp/dsl/_component_bridge.py
  sdk/python/tests/dsl/component_bridge_tests.py
Labels: approved, area/sdk/components, area/sdk/dsl, cla: yes, lgtm, size/M

#4508 doc(gcp): recommend KFP standalone over marketplace CLI installation
  manifests/gcp_marketplace/README.md
  manifests/gcp_marketplace/cli.md
Labels: approved, cla: yes, lgtm, size/S

#4516 test: fix TFX related test failure due to protobuf version.
  test/presubmit-tests-tfx.sh
Labels: approved, cla: yes, lgtm, size/S

#4512 feat(sdk): Python components - Parse component input/output descriptions from the function docstring
  sdk/python/kfp/components/_python_op.py
  sdk/python/kfp/components_tests/test_python_op.py
  sdk/python/requirements.in
  sdk/python/requirements.txt
  sdk/python/setup.py
Labels: approved, cla: yes, lgtm, ok-to-test, size/M

#4504 feat(sdk): adds support for ephemeral-storage in container-op
  sdk/python/kfp/dsl/_container_op.py
Labels: approved, cla: yes, lgtm, ok-to-test, size/M

#4511 fix(sdk): added clearer error for case when user uses watch and argo isn't installed
  sdk/python/kfp/cli/run.py
Labels: approved, cla: yes, lgtm, needs-ok-to-test, size/S

#4441 feat(components): Added Calculate classification metrics component
  components/ml_metrics/Calculate_classification_metrics/_samples/sample_pipleine.py
  components/ml_metrics/Calculate_classification_metrics/from_CSV/component.py
  components/ml_metrics/Calculate_classification_metrics/from_CSV/component.yaml
Labels: approved, cla: yes, lgtm, needs-ok-to-test, size/L

#4523 fix(samples): Keras - Fixed the keras sample
  components/keras/Train_classifier/_samples/sample_pipeline.py
Labels: approved, area/samples, cla: yes, lgtm, size/XS

#4524 feat(components): Added the component to convert from KerasModelHdf5 to TensorflowSavedModel
  components/_converters/KerasModelHdf5/to_TensorflowSavedModel/component.py
  components/_converters/KerasModelHdf5/to_TensorflowSavedModel/component.yaml
  components/keras/Train_classifier/_samples/sample_pipeline.py
Labels: approved, area/components, cla: yes, lgtm, size/M

#4503 feat(components): Added the Basics - Calculate data hash component
  components/basics/Calculate_hash/component.yaml
Labels: approved, area/components, cla: yes, lgtm, size/M

#4520 feat(components): Google - AutoML - Added the Deploy model component
  components/gcp/automl/deploy_model/component.py
  components/gcp/automl/deploy_model/component.yaml
Labels: approved, area/components, cla: yes, lgtm, size/L

#4526 feat(components): Added converter components for TensorflowJS GraphModel
  components/_converters/TensorflowJSGraphModel/from_KerasModelHdf5/component.yaml
  components/_converters/TensorflowJSGraphModel/from_TensorflowSavedModel/component.yaml
Labels: approved, area/components, cla: yes, lgtm, size/M

#4527 feat(components): Added converter components for TensorflowJS LayersModel
  components/_converters/TensorflowJSLayersModel/from_KerasModelHdf5/component.yaml
  components/_converters/TensorflowJSLayersModel/from_TensorflowSavedModel/component.yaml
Labels: approved, area/components, cla: yes, lgtm, size/M

#4519 feat(components): Google - AutoML - Added the Export model component
  components/gcp/automl/export_model_to_gcs/component.py
  components/gcp/automl/export_model_to_gcs/component.yaml
  samples/core/AutoML tables/AutoML Tables - Retail product stockout prediction.ipynb
Labels: approved, area/components, cla: yes, lgtm, size/L

#4448 chore(backend): remove unused import in .proto
  backend/README.md
  backend/api/go_client/job.pb.go
  backend/api/go_client/pipeline.pb.go
  backend/api/job.proto
  backend/api/pipeline.proto
Labels: approved, area/backend, cla: yes, lgtm, ok-to-test, size/L

#4532 feat(components): Added converter components for Tensorflow Lite models
  components/_converters/TensorflowLiteModel/from_KerasModelHdf5/component.yaml
  components/_converters/TensorflowLiteModel/from_TensorflowSavedModel/component.yaml
Labels: approved, area/components, cla: yes, lgtm, size/M

#4400 feat(sdk/cli): add extra header for cli
  sdk/python/kfp/_client.py
Labels: approved, cla: yes, lgtm, ok-to-test, size/XS

#4538 test(frontend): make run details graph captured in unit test snapshot
  frontend/src/pages/RunDetails.test.tsx
  frontend/src/pages/__snapshots__/RunDetails.test.tsx.snap
Labels: approved, cla: yes, lgtm, size/L

#4371 Pipeline IR
  api/v2alpha1/pipeline_spec.proto
Labels: cla: yes, size/L

#4546 Package pipeline_spec proto into SDK
  sdk/python/kfp/v2/proto/README.md
  sdk/python/kfp/v2/proto/__init__.py
  sdk/python/kfp/v2/proto/pipeline_spec_pb2.py
Labels: approved, cla: yes, lgtm, size/XXL

#4437 feat(samples): Added "Output a directory" sample
  samples/core/output_a_directory/output_a_directory.py
Labels: approved, area/samples, cla: yes, lgtm, size/M

#4557 fix(components): Fixed the Download from GCS components for blob URIs
  components/google-cloud/storage/download/component.yaml
Labels: approved, area/components, cla: yes, lgtm, size/S

#4548 Update ImporterSpec artifact_uri type
  api/v2alpha1/pipeline_spec.proto
Labels: approved, cla: yes, lgtm, size/XS

#4515 fix(sdk): Allow non-pythonic names for graph components' task's outputs. Fixes #4514.
  sdk/python/kfp/components/_components.py
  sdk/python/tests/dsl/component_bridge_tests.py
Labels: approved, cherrypick-approved, cla: yes, lgtm, ok-to-test, size/M

#4561 Samples - Added the continue_training_from_prod sample
  samples/core/continue_training_from_prod/continue_training_from_prod.py
Labels: approved, area/samples, cla: yes, lgtm, size/L

#4550 feat(components): Added converters to OnnxModel from Tensorflow and Keras
  components/_converters/OnnxModel/from_KerasModelHdf5/component.yaml
  components/_converters/OnnxModel/from_TensorflowSavedModel/component.yaml
Labels: approved, area/components, cla: yes, lgtm, size/M

#4554 fix(sdk): DSL - Enabled arbitrary ContainerOp names
  sdk/python/kfp/dsl/_container_op.py
  sdk/python/kfp/dsl/_pipeline.py
  sdk/python/tests/compiler/compiler_tests.py
Labels: approved, area/sdk/dsl, cla: yes, lgtm, size/S

#4558 feat(components): AutoML Tables - Added the Create dataset from CSV component
  components/google-cloud/AutoML/Tables/Create_dataset/from_CSV/component.py
  components/google-cloud/AutoML/Tables/Create_dataset/from_CSV/component.yaml
Labels: approved, area/components, cla: yes, lgtm, size/L

#4401 feat(sdk): optional context in kubenetes client
  sdk/python/kfp/_client.py
Labels: approved, cla: yes, lgtm, needs-ok-to-test, size/XS

#4568 fix(backend): Cache Deployer - Fixed grep call
  backend/src/cache/deployer/deploy-cache-service.sh
Labels: approved, area/backend, area/execution_cache, cherrypick-approved, cla: yes, lgtm, size/XS

#4525 fix(cache): Cache deployer - Using the same kubectl version as the server
  backend/src/cache/deployer/deploy-cache-service.sh
Labels: approved, area/execution_cache, cherrypick-approved, cla: yes, lgtm, size/S

#4536 chore(components): AWS SageMaker - Fix leaking Workteam(GroundTruth) resources
  components/aws/sagemaker/tests/integration_tests/component_tests/test_groundtruth_component.py
Labels: approved, cla: yes, lgtm, ok-to-test, size/S
